# Python
__pycache__/
*.pyc
.venv/
.env
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/

# OS / Editor
.DS_Store
.vscode/
.idea/

# ML artifacts
backend/app/ml/artifacts/
backend/app/ml/*.joblib
mlruns/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
.terraform.lock.hcl

# Logs
*.log